*{
    margin: 0;
    padding: 0;
}
.section1{
    width: 100%;
    height: 50vh;
    background-color: rgb(29, 27, 27);
    display: flex;
}
.divg{
    width: 100%;
    display: flex;
   justify-content: center;
    align-items: center;
}
.div-general{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.img1{
    height: 30vh;
}
.img-1{
    height: 50vh;
    width: 70%;
    display: flex;
    
    align-items: center;
    justify-content: flex-end;
}
.p1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
.p2{
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, green, blue);
    font-weight: bolder;
    color: transparent;
    background-clip: text;
}
.p3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
}
.p4{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 20px;
    font-weight: bolder;
}
.p-4{
    font-size: 40px;
}
.section2{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto{
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.img2{
    height: 8vh;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.pa1{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 80%;
}
.pa2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(45, 111, 141);
}
.section3{
    width: 100%;
    height: 40vh;
    background-image: url(../img-audifonos/imagen-mujer.jpg);
    background-size: cover;
}
.azul{
    height: 40vh;
    width: 50%;
    background-color: rgb(45, 111, 141);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.azul1{
    height: 10vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.t1{
    font-size: 40px;
    font-weight: bolder;
}
.t2{
    font-size: 20px;
    width: 95%;
}
.section4{
    width: 100%;
    height: 60vh;
    background-color: white;
}
.divpre{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20rem;
}
.divc{
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    
}
.imgx{
    width: 40%;
    
}
.x{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.divy{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: rgb(209, 199, 199);
    padding: 1% 5% 5% 5% ;
    border-radius: 20px;
}
.text1{
    width: 80%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.divv{
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.divvv{
    width: 100%;
    height: 36vh;
    display: flex;
    background-color: rgb(45, 111, 141);
    padding: 1% 5% 5% 5% ;
    border-radius: 20px;
}
.text2{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.y{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.imgy{
    width: 80%;
}
.parr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(45, 111, 141);
}
.parr1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(45, 111, 141);
}
.parrr{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}
.parrr1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
}
.p-2{
    height: 10vh;
    display: flex;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(91, 244, 255),rgb(5, 54, 5) );
    font-weight: bolder;
    color: transparent;
    background-clip: text;
    justify-content: center;
    align-items: center;
}
.section5{
    width: 100%;
    height: 40vh;
    background-color: white;
}
.new{
    height: 40vh;
    width: 100%;
}
.new1{
    height: 40vh;
    width: 120vh;
}
.audi{
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 2rem;
}
.audio{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.formulario{
    width: 70%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input{
    width: 150%;
    padding: 12px 20px;
}
.textos-audio{
    width: 70%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-text{
    width: 100%;
    height: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1%;
}
.boton{
    width: 103%;
    height: 4vh;
    background-color: rgb(45, 111, 141);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}
.parr2{
    width: 68%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.parr3{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.fot{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 111, 141);
}
@media (max-width:320px) or (max-height:480px){
    .section1{
        width: 100%;
        height: 90vh;
        background-color: rgb(29, 27, 27);
        display: flex;
    }
    .divg{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .div-general{
        width: 80%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .img1{
        height: 20vh;
    }
    .img-1{
        height: 30vh;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p1{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: bolder;
    }
    .p2{
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(90deg, green, blue);
        font-weight: bolder;
        color: transparent;
        background-clip: text;
    }
    .p3{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 90%;
        text-align: justify;
        font-size: 10px;
    }
    .p4{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: 5px;
        font-weight: bolder;
    }
    .p-4{
        font-size: 20px;
    }
    .section2{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texto{
        width: 80%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        
    }
    .img2{
        height: 8vh;
    }
    .div1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .div2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .div3{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .pa1{
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        width: 100%;
       
    }
    .pa2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: rgb(45, 111, 141);
    }
    .section3{
        width: 100%;
        height: 53vh;
        display: flex;
        background-image: url(../img-audifonos/imagen-mujer.jpg);
        background-size: cover;
    }
    .azul{
        height: 30vh;
        width: 100%;
        margin-top: 35%;
        background-color: rgb(45, 111, 141);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    .azul1{
        height: 10vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .t1{
        font-size: 20px;
        font-weight: bolder;
    }
    .t2{
        font-size: 10px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section4{
        width: 100%;
        height: 90vh;
        background-color: white;
    }
    .divpre{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
       
        
    }
    .divc{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: -13rem;
        
    }
    .imgx{
        width: 40%;
        
    }
    .x{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .divy{
        width: 80%;
        
        display: flex;
        background-color: rgb(209, 199, 199);
        padding: 1% 5% 5% 5% ;
        border-radius: 20px;
    }
    .text1{
        width: 80%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .divv{
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        margin-top: -44rem;
    }
    .divvv{
        width: 80%;
        height: 17vh;
        display: flex;
        background-color: rgb(45, 111, 141);
        padding: 1% 5% 5% 5% ;
        border-radius: 20px;
    }
    .text2{
        width: 80%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .y{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .imgy{
        width: 80%;
    }
    .parr{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(45, 111, 141);
    }
    .parr1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: rgb(45, 111, 141);
    }
    .parrr{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: white;
    }
    .parrr1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: white;
    }
    .p-2{
        height: 20vh;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(90deg, rgb(91, 244, 255),rgb(5, 54, 5) );
        font-weight: bolder;
        color: transparent;
        background-clip: text;
        justify-content: center;
        align-items: center;
    }
    .section5{
        width: 100%;
        height: 40vh;
        background-color: white;
    }
    .new{
        height: 40vh;
        width: 100%;
    }
    .new1{
        height: 40vh;
        width: 120vh;
    }
    .audi{
        width: 100%;
        height: 40vh;
        display: flex;
        gap: 2rem;
    }
    .audio{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .formulario{
        width: 70%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .input{
        width: 150%;
        padding: 12px 20px;
    }
    .textos-audio{
        width: 70%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .input-text{
        width: 100%;
        height: 3vh;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 1%;
    }
    .boton{
        width: 103%;
        height: 4vh;
        background-color: rgb(45, 111, 141);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: white;
        font-weight: bolder;
    }
    .parr2{
        width: 68%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    .parr3{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    .fot{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(45, 111, 141);
    }

}